html {
  height: auto !important;
  min-height: 100vh !important;
}

body {
  min-width: 1280px;
  min-height: 100vh; 
}

#root {
  width: 100%;
  min-height: 100vh;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;

  .mainContent {
    width: 1280px;
    flex: 1;
    margin: 20px auto;
  }
}


